[submodule "callarobot"]
	path = rasberry_coordination/callarobot
	url = https://github.com/marc-hanheide/callarobot
[submodule "rasberry_data_collection/StrawberryData"]
	path = rasberry_data_collection/StrawberryData
	url = https://github.com/RaymondKirk/StrawberryData.git
[submodule "rasberry_people_perception/ros_marvelmind_lcas"]
	path = ros_marvelmind_lcas
	url = https://github.com/LCAS/ros_marvelmind_package.git
	branch = master
