[submodule "callarobot"]
	path = rasberry_coordination/callarobot
	url = https://github.com/marc-hanheide/callarobot
	branch = master
[submodule "rasberry_data_collection/StrawberryData"]
	path = rasberry_data_collection/StrawberryData
	url = https://github.com/RaymondKirk/StrawberryData.git
