<?xml version="1.0" ?>
<launch>
  <arg name="scenario" default="$(find rasberry_optimise)/config/scenario.yaml" />
  <arg name="parameters" default="$(find rasberry_optimise)/config/parameters.yaml" />  

  <!-- Optimisation procedure -->
  <node pkg="rasberry_optimise" type="optimise.py" name="optimiser" output="screen" args="$(arg scenario) $(arg parameters)" />

</launch>
