<?xml version="1.0" ?>
<launch>

  <arg name="parameters" default="$(find rasberry_optimise)/resources/optim_params/dwa_irn/dwa_irn.json" />
  <arg name="parameter_index" default="0" />
  <arg name="config_parameters" default="$(find rasberry_optimise)/resources/optim_params/dwa_irn/dwa_irn.yaml" />   

  <!-- Reconfigure -->
  <node pkg="rasberry_optimise" type="reconfigure.py" name="reconfigure" output="screen" 
        args="$(arg parameters) $(arg parameter_index) $(arg config_parameters)" />

</launch>
