<?xml version="1.0"?>
<launch>
  <arg name="omni" default="false"/>
  
  <node pkg="rasberry_optimise" type="reconf_at_edges_server.py" name="reconf_at_edges_server" output="screen">
    <rosparam file="$(find rasberry_optimise)/resources/optim_params/optim_params_omni.yaml" command="load" if="$(arg omni)"/>        
    <rosparam file="$(find rasberry_optimise)/resources/optim_params/optim_params_diff.yaml" command="load" unless="$(arg omni)"/>
  </node>

</launch> 
