<?xml version="1.0" ?>
<launch>

  <!-- Localisation arguments -->
  <arg name="use_fake_localisation" default="false"/>
  <arg name="use_omni" default="false" />

  <!-- Localisation -->
  <node name="fake_localization" pkg="fake_localization" type="fake_localization" if="$(arg use_fake_localisation)">
    <remap from="base_pose_ground_truth" to="odometry/gazebo" /> 
    <param name="odom_frame_id" type="string" value="odom"/>
    <param name="base_frame_id" type="string" value="base_link"/>
  </node>

  <include file="$(find rasberry_navigation)/launch/rasberry_localisation_corner_hokuyos.launch" unless="$(arg use_fake_localisation)" >
    <arg name="publish_tf" value="false" />
    <arg name="use_omni" value="$(arg use_omni)" />
  </include>

</launch>
