<?xml version="1.0" ?>
<launch>
  <!-- declare arg to be passed in -->
  <arg name="robot_name" default="" />
  <arg name="map" />

  <group ns="$(arg robot_name)">

    <node pkg="topological_navigation" type="visualise_map.py" name="topological_visualisation" output="screen" args="$(arg map)">
      <remap from="topological_map" to="/topological_map" />
      <remap from="topological_map_zones/feedback" to="/topological_map_zones/feedback" />
    </node>

  </group>

</launch>
