<?xml version="1.0" ?>
<launch>


  <arg name="with_actors" default="true"/> <!-- Include actors in the Gazebo world? -->


  <!-- Launch the Gazebo world.  -->
  <include file="$(find rasberry_gazebo)/launch/world.launch"/>


  <!-- Robot model arguments.  -->
  <arg name="robot_pose_x1" value="0" />
  <arg name="robot_pose_y1" value="0" />
  <arg name="robot_pose_z1" value="0" />
  <arg name="robot_pose_R1" value="0" />
  <arg name="robot_pose_P1" value="0" />
  <arg name="robot_pose_Y1" value="-1.7" />

  <arg name="robot_name_1" default="thorvald_001" />
  <arg name="robot_model_1" default="thorvald_ii_4wd4ws_slim" />
  <arg name="model_extras_1" default="$(find thorvald_model)/urdf/sensor_modules/sensor_frames_lincoln.xacro" />

  <!-- Robot model bringup -->

  <group ns="$(arg robot_name_1)">
    <include file="$(find thorvald_model)/launch/model.launch">
      <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model_1)/$(arg robot_model_1).yaml" />
      <arg name="robot_name" value="$(arg robot_name_1)" />
      <arg name="tf_prefix" value="$(arg robot_name_1)" />
      <arg name="model_extras" value="$(arg model_extras_1)" />
    </include>
   
    <include file="$(find thorvald_base)/launch/base_bringup.launch">
      <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model_1)/$(arg robot_model_1).yaml" />
      <arg name="simple_sim" value="True" />
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="spawner" args="-urdf -param /$(arg robot_name_1)/robot_description -model $(arg robot_name_1) -x $(arg robot_pose_x1) -y $(arg robot_pose_y1) -z $(arg robot_pose_z1) -R $(arg  robot_pose_R1)  -P $(arg robot_pose_P1)  -Y $(arg robot_pose_Y1)"/>

    <!-- twist mux bringup -->
    <include file="$(find thorvald_twist_mux)/launch/twist_mux.launch" />
    <include file="$(find thorvald_teleop)/launch/teleop_xbox.launch" />

  </group>


  <!-- Robot model arguments.  -->

  <arg name="robot_pose_x2" value="2" />
  <arg name="robot_pose_y2" value="4" />
  <arg name="robot_pose_z2" value="0" />
  <arg name="robot_pose_R2" value="0" />
  <arg name="robot_pose_P2" value="0" />
  <arg name="robot_pose_Y2" value="1.7" />

  <arg name="robot_name_2" default="thorvald_002" />
  <arg name="robot_model_2" default="thorvald_ii_4wd4ws_slim" />
  <arg name="model_extras_2" default="$(find thorvald_model)/urdf/sensor_modules/sensor_frames_lincoln.xacro" />

  <!-- Robot model bringup -->

  <group ns="$(arg robot_name_2)">
    <include file="$(find thorvald_model)/launch/model.launch">
      <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model_2)/$(arg robot_model_2).yaml" />
      <arg name="robot_name" value="$(arg robot_name_2)" />
      <arg name="tf_prefix" value="$(arg robot_name_2)" />
      <arg name="model_extras" value="$(arg model_extras_2)" />
    </include>
   
    <include file="$(find thorvald_base)/launch/base_bringup.launch">
      <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model_2)/$(arg robot_model_2).yaml" />
      <arg name="simple_sim" value="True" />
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="spawner" args="-urdf -param /$(arg robot_name_2)/robot_description -model $(arg robot_name_2) -x $(arg robot_pose_x2) -y $(arg robot_pose_y2) -z $(arg robot_pose_z2) -R $(arg  robot_pose_R2)  -P $(arg robot_pose_P2)  -Y $(arg robot_pose_Y2)"/>

    <!-- twist mux bringup -->

    <include file="$(find thorvald_twist_mux)/launch/twist_mux.launch" />
    <include file="$(find thorvald_teleop)/launch/teleop_xbox.launch" />
  </group>


  <include file="$(find rasberry_gazebo)/launch/include_actors.launch" if="$(arg with_actors)"/>


  


  <!-- tf -->
  <!--node pkg="tf" type="static_transform_publisher" name="odom_to_world" args="0 0 0 0 0 0 odom world 10"/-->
  <!--node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 10"/-->
  <!--node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/-->

</launch>


<!-- <arg name="robot_model_conf" default="$(find thorvald_model)/config/thorvald_ii_4wd4ws_std/thorvald_ii_4wd4ws_std.yaml" /> -->
<!--<include file="$(find thorvald_bringup)/launch/$(arg robot_model)/$(arg robot_model)_sim.launch" />-->
